@use '../abstracts/variables' as v;

@function color($name) {
    @return map-get($map: v.$palette, $key: $name)
}

@function reduceColor($name, $amount) {
    @return lighten(color($name), $amount);
}

@function changeColor($name, $type: darken, $amount: 1, $colorMix: #FFF) {
    $color: color($name);
    @if $type == darken {
        $color: darken($color, $amount);
    } @else if $type == lighten {
        $color: lighten($color, $amount);
    } @else if $type == mixcolor {
        $color: mix($color, $colorMix);
    } @else {
        //* Add opacity
        $color: rgba($color, $amount);
    }
    @return $color;
}