$primary: rgb(38, 26, 214);
$secondary: rgb(19, 190, 85);
$success: rgb(40, 192, 40);
$danger: rgb(231, 47, 56);
$dark: #000;
$dark_opacity: rgba($dark, 0.4);
$font-size: 1.75rem;
$brand: 'mdf';

//* Mapa (key: value)
$palette: (
    'primary': rgb(21, 92, 197),
    'success': rgb(33, 143, 125),
    'danger': rgb(185, 8, 82),
    'secondary': rgb(86, 202, 40),
    'light': #FFF
);

//* Mapa (key: value)
$titles: (
    "xs": 16px,
    "md": 20px,
    "lg": 24px,
    "xl": 32px
);