//* @use traerá toda la información del archivo y la tendrá disponible, pero no se usará hasta que se llame.

@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;

.alert {

    &-primary,
    &-danger {
        width: calc(100% - 1rem - 30px);
        padding: 15px;
        margin: 0.5rem;
        border-radius: 10px;
        font-size: 1.15rem;
        letter-spacing: 5px;
        font-family: 'Lato', sans-serif;
        color: f.reduceColor('light', 0);
    }

    &-primary {
        background-color: f.changeColor('primary', other, 0.8);
    }

    &-danger {
        background-color: f.changeColor('danger', mixcolor, 0);
    }
}