//* Nesting (anidamiento)
//* Recomienda máximo deberíamos anidar hasta el 3° NIVEL o sea 3° CAPA
//* Aunque sería perfecto si solo fuesen hasta el 2° NIVEL o CAPA

//* 1° CAPA
.#{$brand}-card {

    width: 200px;
    padding: 0;

    //* anidamiento de propiedad
    border: {
        radius: 5px;
        width: 1px;
        style: solid;
        color: map-get($map: $palette, $key: 'primary');
    }

    //* 2° CAPA, anidando un elemento
    img {
        width: 100%;
        height: 150px;
        display: block;
    }

    //* 2° CAPA, anidando un elemento
    h1 {
        height: 50px;
        line-height: 50px;
        margin: 0;
    }

    //* 2° CAPA, Anidando una clase
    &__body {
        height: 50px;
        text-align: center;
        background-color: $primary;
        line-height: 50px;
    }
}

@function scale($val, $max, $ratio: 1.5) {
    @while $val > $max {
        $val: calc($val/$ratio);
    }
    @return $val;
}

.main-card { 
    height: 250px;
    width: scale(250px, 230px, 1.25);
    background-color: rgba(0,0,0,0.25);
}