$ncols: 12;

$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
);

@mixin cols($brks, $cols, $prefix) {
    @each $name, $bk in $brks {
        @media(min-width: $bk) {
            @for $i from 1 to $cols +1 {
                .#{$prefix}-#{$name}-#{$i} {
                    width: (($i * 100) / $cols) * 1%;
                }
            }                        
        }
    }

}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@include cols($breakpoints, $ncols, 'col');