@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap");
.mdf-title-primary {
  font-size: 1.75rem;
  color: rgb(38, 26, 214);
}

.mdf-title-secondary {
  font-size: 1.75rem;
  color: rgb(19, 190, 85);
}

.mdf-title-dark {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.75rem;
  font-weight: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 2px;
  padding-left: 2px;
}

.title-xs {
  font-size: 16px;
  font-weight: 400;
}

.title-md {
  font-size: 20px;
  font-weight: 500;
}

.title-lg {
  font-size: 24px;
  font-weight: 600;
}

.title-xl {
  font-size: 32px;
  font-weight: 900;
}

.mdf-card {
  width: 200px;
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(21, 92, 197);
}
.mdf-card img {
  width: 100%;
  height: 150px;
  display: block;
}
.mdf-card h1 {
  height: 50px;
  line-height: 50px;
  margin: 0;
}
.mdf-card__body {
  height: 50px;
  text-align: center;
  background-color: rgb(38, 26, 214);
  line-height: 50px;
}

.main-card {
  height: 250px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.25);
}

.mdf-btn-primary, .mdf-btn-success, .mdf-btn-danger {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 16px;
  margin: 5px 0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.mdf-btn-primary:hover, .mdf-btn-success:hover, .mdf-btn-danger:hover {
  cursor: pointer;
}

.mdf-btn-primary {
  background-color: rgb(38, 26, 214);
}
.mdf-btn-success {
  background-color: rgb(40, 192, 40);
}
.mdf-btn-danger {
  background-color: rgb(231, 47, 56);
}

.btn-outline {
  background: none;
  height: 40px;
  min-width: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin: 5px 0;
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary {
  border: 1px solid rgb(21, 92, 197);
  color: rgb(21, 92, 197);
}
.btn-outline-primary:hover {
  background: #177c63;
  color: #FFF;
  cursor: pointer;
}
.btn-outline-success {
  border: 1px solid rgb(33, 143, 125);
  color: rgb(33, 143, 125);
}
.btn-outline-success:hover {
  background: #1d953f;
  color: #FFF;
  cursor: pointer;
}
.btn-outline-danger {
  border: 1px solid rgb(185, 8, 82);
  color: rgb(185, 8, 82);
}
.btn-outline-danger:hover {
  background: #69522a;
  color: #FFF;
  cursor: pointer;
}
.btn-outline-secondary {
  border: 1px solid rgb(86, 202, 40);
  color: rgb(86, 202, 40);
}
.btn-outline-secondary:hover {
  background: #37b315;
  color: #FFF;
  cursor: pointer;
}
.btn-outline-light {
  border: 1px solid #FFF;
  color: #FFF;
}
.btn-outline-light:hover {
  background: #8ccd80;
  color: #FFF;
  cursor: pointer;
}

.alert-primary, .alert-danger {
  width: calc(100% - 1rem - 30px);
  padding: 15px;
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 1.15rem;
  letter-spacing: 5px;
  font-family: "Lato", sans-serif;
  color: white;
}
.alert-primary {
  background-color: rgba(21, 92, 197, 0.8);
}
.alert-danger {
  background-color: #dc84a9;
}

table {
  border-collapse: collapse;
}
table td {
  padding: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

tbody tr:nth-child(1) {
  background: linear-gradient(to bottom, #3b3bc2, #4d4dc9);
}

tbody tr:nth-child(2) {
  background: linear-gradient(to bottom, #4d4dc9, #6161cf);
}

tbody tr:nth-child(3) {
  background: linear-gradient(to bottom, #6161cf, #7575d5);
}

tbody tr:nth-child(4) {
  background: linear-gradient(to bottom, #7575d5, #8888db);
}

tbody tr:nth-child(5) {
  background: linear-gradient(to bottom, #8888db, #9c9ce1);
}

tbody tr:nth-child(6) {
  background: linear-gradient(to bottom, #9c9ce1, #afafe7);
}

tbody tr:nth-child(7) {
  background: linear-gradient(to bottom, #afafe7, #c3c3ed);
}

tbody tr:nth-child(8) {
  background: linear-gradient(to bottom, #c3c3ed, #d6d6f3);
}

tbody tr:nth-child(9) {
  background: linear-gradient(to bottom, #d6d6f3, #eaeaf9);
}

tbody tr:nth-child(10) {
  background: linear-gradient(to bottom, #eaeaf9, #fdfdff);
}

tbody tr:nth-child(11) {
  background: linear-gradient(to bottom, #fdfdff, white);
}

tbody tr:nth-child(12) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(13) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(14) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(15) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(16) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(17) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(18) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(19) {
  background: linear-gradient(to bottom, white, white);
}

tbody tr:nth-child(20) {
  background: linear-gradient(to bottom, white, white);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
* {
  font-family: "Chivo Mono", monospace;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
ul li {
  width: 100%;
}
ul li a {
  display: block;
}
ul li a i {
  margin-right: 16px;
}

main {
  width: calc(100% - 300px);
  margin-left: 300px;
}

nav.menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E274E;
}
nav.menu .menu-links {
  width: 90%;
  margin-left: 10%;
  min-height: 500px;
  display: flex;
  align-items: center;
}

ul > li a {
  color: #FFF;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 500;
  transition: 0.25s all ease-in-out;
}
ul > li a:hover {
  box-shadow: 0px 0px 8px -4px rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
  cursor: pointer;
}

ul > li ul > li a {
  padding-left: 10px;
  background-color: #131A36;
  font-size: 15px;
  padding: 15px 0 15px 10px;
}
ul > li ul > li a:hover {
  box-shadow: 0px 0px 8px 0px #131A36;
  border-radius: 0 50px 50px 0;
  color: #131A36;
  background-color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 10px solid #131A36;
}

ul > li ul > li ul > li a {
  font-size: 12px;
}

ul > li {
  margin-left: 0px;
  position: relative;
}
ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li:hover > ul {
  display: block;
}
ul > li ul > li {
  margin-left: 50px;
  position: relative;
}
ul > li ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li ul > li:hover > ul {
  display: block;
}
ul > li ul > li ul > li {
  margin-left: 100px;
  position: relative;
}
ul > li ul > li ul > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
}
ul > li ul > li ul > li:hover > ul {
  display: block;
}
.toast {
  width: 300px;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  display: flex;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 16px;
}
.toast__close {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #000;
}
.toast__close:hover {
  opacity: 0.75;
  cursor: pointer;
}
.toast__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/error.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  box-shadow: 2px 0px 5px -2px rgba(0, 0, 0, 0.5);
}
.toast__info {
  margin-left: 104px;
}
.toast__info {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}
.toast__description {
  font-size: 12px;
  margin: 6px 0 6px 0;
}
.toast__btn {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding-left: 16;
  padding-right: 16;
  float: right;
  color: #FFF;
  background: #000;
  outline: none;
}
.toast__btn:hover {
  opacity: 0.75;
  cursor: pointer;
}
.toast-simple .toast__info {
  margin: 4px;
  width: 100%;
}
.toast-left-bottom, .toast-bottom-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
}
.toast-left-top, .toast-top-left {
  position: fixed;
  left: 16px;
  top: 16px;
}
.toast-right-bottom, .toast-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
.toast-right-top, .toast-top-right {
  position: fixed;
  right: 16px;
  top: 16px;
}

.toast-primary {
  background-color: rgb(38, 26, 214);
  color: #FFF;
}
.toast-primary .toast__close {
  color: #FFF;
}
.toast-primary .toast__btn {
  color: rgb(38, 26, 214);
  background: #FFF;
}

.toast-success {
  background-color: rgb(40, 192, 40);
  color: #FFF;
}
.toast-success .toast__close {
  color: #FFF;
}
.toast-success .toast__btn {
  color: rgb(40, 192, 40);
  background: #FFF;
}

.toast-danger {
  background-color: rgb(231, 47, 56);
  color: #FFF;
}
.toast-danger .toast__close {
  color: #FFF;
}
.toast-danger .toast__btn {
  color: rgb(231, 47, 56);
  background: #FFF;
}

/*# sourceMappingURL=styles.css.map */
